@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #252525;
  height: 10vh;
  padding: 0 50px;
}
header section {
  display: flex;
  align-items: center;
}
header p {
  color: #ffffff;
  font-family: "Roboto Serif", serif;
}
header img {
  height: 5vh;
  margin: 10px;
}

figure {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 100%;
  justify-content: center;
  align-items: center;
  height: 138vh;
}
.main-img1 {
  background-image: url("./imagens/primeira.png");
  background-position: 0px -16px;
}
.main-img2 {
  background-image: url("./imagens/segunda.png");
}
.main-img3 {
  background-image: url("./imagens/terceira.png");
}
figcaption {
  display: flex;
  flex-direction: column;
  color: white;
}
main h1 {
  text-align: center;
  font-size: 81px;
  font-family: "Roboto Serif", serif;
}
main h2 {
  font-size: 70px;
  font-family: "Roboto Serif", serif;
  margin-bottom: 17px;
}
main h3 {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}
.text-img1 {
  padding-bottom: 51vh;
}
.text-img2 {
  color: #3a342f;
  padding-right: 48vw;
}
.text-img3 {
  padding-left: 46vw;
}
figcaption img {
  height: 17vh;
  margin: 30px;
}

main .anti-footer {
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: center;
}
.anti-footer img {
  height: 5vh;
  margin: 70px;
}
main .text-anti-footer {
  height: 4vh;
}
.anti-footer p {
  color: #eb4a7b;
  font-size: 5vh;
  margin: 70px;
  font-style: italic;
}

button {
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 44px;
  font-size: 28px;
  height: 12vh;
  width: 17vw;
  margin: 40px;
}
.button-img2 {
  background-color: #3a342f;
  color: #ffffff;
}
.button-img3 {
  background-color: #ffffff;
  color: #3a342f;
  font-weight: bold;
}

footer {
  background-color: #eb4a7b;
  height: 51vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer-mobile {
  display: none;
}
.img-footer {
  display: none;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}
footer h2 {
  color: #ffffff;
  font-family: "Roboto Serif", serif;
  font-size: 31px;
}
ul {
  list-style: none;
}
footer nav {
  display: flex;
  flex-direction: column;
  padding-left: 90px;
}
li {
  margin-bottom: 8px;
}
nav h2 {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }
  main,
  footer {
    height: 100%;
  }
  header {
    height: 12vh;
  }
  figure {
    height: 87vh;
  }
  main h1,
  main h2,
  main h3 {
    display: none;
  }
  .main-img1 {
    background-image: url("./imagens/mobile.img1.png");
    height: 100%;
  }
  .main-img2 {
    background-image: url("./imagens/mobile.img2.png");
  }
  .main-img3 {
    background-image: url("./imagens/mobile.img3.png");
  }

  button {
    display: none;
  }
  main .anti-footer {
    display: none;
  }
  .icone-header {
    display: none;
  }
  nav img {
    margin: 10px;
  }
  footer {
    height: 79vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
  }
  .footer-mobile {
    display: flex;
    color: white;
    font-family: "Roboto Serif", serif;
    justify-content: center;
    align-items: center;
  }
  .footer-mobile-imgname {
    height: 7vh;
    margin: 7px;
  }
  .footer-mobile p {
    font-size: 25px;
  }
  footer img {
    height: 3vh;
  }
  .img-footer {
    display: inline;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
  }
  footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    margin-bottom: 8px;
  }
  footer h2 {
    font-size: 2vh;
    margin-bottom: 6px;
  }
  ul {
    text-align: center;
    margin-bottom: 20px;
  }
}
